APP_NAME=Cloud DR Demo API
APP_VERSION=1.0.0

AWS_REGION=ap-south-1
AWS_S3_BUCKET=cloud-dr-platform-backups-2026

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-this-password
POSTGRES_DB=cloud_dr

DATABASE_URL=postgresql://postgres:change-this-password@db:5432/cloud_dr